body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 60px;
}

.navbar {
    background-color: #333;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover,
.navbar-inverse .navbar-nav > .dropdown > a:focus {
    color: #fff;
    background-color: #222;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.dropdown-menu {
    background-color: #333;
    border: none;
    border-radius: 0;
    margin-top: 0;
}

.dropdown-menu > li > a {
    color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #777777;
}

.container > h2 {
    margin-top: 30px;
}

.container > h4 {
    margin-top: 10px;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-poster {
    width: 700px;
    height: auto;
    margin: 0 auto;
}


.form-control {
    width: 300px;
}

.button {
    margin-top: 20px;
}

#content {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#content > form {
    margin-bottom: 20px;
}

#content > ul {
    list-style: none;
    padding: 0;
}

#content > ul > li {
    margin-bottom: 20px;
}

#content .userData {
    text-align: center;
}

#content .userData h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#content .userData p {
    font-size: 18px;
    margin-bottom: 10px;
}

.user-details {
    text-align: left;
}

.user-details h4 {
    font-size: 18px;
    margin: 10px 0;
}

.user-details span {
    font-weight: bold;
}