<link rel="stylesheet" href="/static/css/ParallaxStyle.css">


<h1>Witaj, <b><span sec:authentication="principal.username">Użytkowniku</span></b>!</h1>
<p>Życzymy Ci miłego dnia!</p><br>
<h2>O naszej stronie</h2>
<p>Strona kinowa to miejsce, gdzie możesz cieszyć się najnowszymi filmami na dużym ekranie wraz z rodziną i przyjaciółmi. Oferujemy wiele funkcjonalności, które umożliwią Ci pełne doświadczenie kina.</p>

<div id="parallax2"></div>

<h3>Historia kina</h3>
<p>
  Historia kina sięga aż do lat 90. XIX wieku. Na początku kino było niemą formą sztuki, gdzie filmy były wyświetlane na taśmie filmowej.
  W 1927 roku nastąpił przełomowy moment w historii kina - wprowadzenie dźwięku do filmów. Wtedy właśnie też został wyprodukowany pierwszy dźwiękowy film pełnometrażowy, co otworzyło nowe możliwości artystyczne i zwiększyło atrakcyjność filmów dla widzów.
  W kolejnych dekadach kino stało się popularną formą rozrywki dla masowej publiczności. W latach 30. i 40. XX wieku kino było jednym z głównych sposobów spędzania wolnego czasu. Kolejną nowością było wprowadzenie koloru do filmów, co dodatkowo zwiększyło realistyczność i atrakcyjność seansów.
  W latach 50. i 60. kino zderzyło się z konkurencją telewizji, co wpłynęło na lekki spadek jego popularność, jednak szybko dostosowało się do zmieniających się trendów i wprowadziło nowe technologie, takie jak format szerokoekranowy i technologia 3D, które przyciągnęły widzów z powrotem do sal kinowych.
  Współczesne kina oferują wyjątkową jakość obrazu i dźwięku, tworząc immersyjne doświadczenie dla widzów. Dzięki postępowi technologicznemu i innowacjom, kino jest w stanie dostarczać emocjonujące i angażujące historie na dużych ekranach.
</p>

<div id="parallax1"></div>

<h3>Zalety chodzenia do kina</h3>
<ul>
  <li>Wysoka jakość obrazu i dźwięku</li>
  <li>Rozrywka dla całej rodziny</li>
  <li>Możliwość oglądania najnowszych filmów</li>
  <li>Atmosfera kina, w tym zapach świeżo przygotowanego popcornu</li>
  <li>Możliwość spotkania się z innymi miłośnikami kina</li>
  <li>Wygodne miejsca siedzące i duży ekran</li>
</ul>

<div id="parallax3"></div>
<br>